<!DOCTYPE html>

<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Classwork - Networked Meda</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'/>

      <link rel="stylesheet" type="text/css" href="/css/index.css">
   </head>
   <body>
      <h1>Networked Media Classwork</h1>
      <nav>
         <a href='/go'>go. - how far will you go?</a>
         <a href='/favorite-quotes'>FavQuotes - store your favorite quotes</a>
         <a href='/tag'>tag! - play tag with a dot</a>
         <a href='/games-no'>games.no - a series of impossible games</a>
      </nav>
      <div class='author-statement'>all projects created by <a class='author-link' href='https://williammlekush.com' target='_blank'>William Mlekush</a></div>     
   </body>
</html>