<!DOCTYPE html>

<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Tag! You're It</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

      <link rel="stylesheet" type="text/css" href="/css/tag.css">
      <script src="/js/tag.js" type="text/javascript" async defer></script>
   </head>
   <body>
      <div class='content'>
         <h1 class='first-tag'>Tag! You're It</h1>
         <div class='dot'></div>
      </div>

      <footer>
         <a href='/' class='material-icons-round home-link'>home</a>
         tag! created by <a class='author-link' href='https://williammlekush.com' target='_blank'>William Mlekush</a>
      </footer>
   </body>
</html>