<!DOCTYPE html>

<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Classwork - Networked Meda</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'/>

      <link rel="stylesheet" type="text/css" href="/css/midterm/index.css">
   </head>
   <body>
      <h1>games.no</h1>
      <a href='/midterm-scores' id='scores-link'>scoreboard</a>
      <nav>
         <a href='/midterm-go'>
            <div class='thumbnail' id='thumbnail-go'></div>
            <div class='caption' id='caption-go'>How far will you go?</div>
            <div class='title'>
               go.
            </div>
         </a>
         <a href='/midterm-tag'>
            <div class='thumbnail' id='thumbnail-tag'></div>
            <div class='caption' id='caption-tag'>Play tag with a dot!</div>
            <div class='title'>
               tag!
            </div>
         </a>
         <a href='/midterm-quiz'>
            <div class='thumbnail' id='thumbnail-quiz'></div>
            <div class='caption' id='caption-quiz'>Answer the unasnwerable.</div>
            <div class='title'>
               Who am I?
            </div>
         </a>
         <a href='/midterm-word'>
            <div class='thumbnail' id='thumbnail-word'></div>
            <div class='caption' id='caption-word'>Build word piles to your heart's content.</div>
            <div class='title'>
               word-dump
            </div>
         </a>
         <a href='/midterm-pattern'>
            <div class='thumbnail' id='thumbnail-pattern'></div>
            <div class='caption' id='caption-pattern'>Generate endless patterns.</div>
            <div class='title'>
               tesselate
            </div>
         </a>
      </nav>

      <div class='author-statement'>created by <a class='author-link' href='https://williammlekush.com' target='_blank'>William Mlekush</a></div>     
   </body>
</html>